<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/35315fd70c.js" crossorigin="anonymous"></script>
    <title>House Spending</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="result">
        <p>Suma: {{res}}</p>
        
    </div>
    <div class="container-exp">
        <h1>Wydatki</h1>
        <table class="table">
            <thead>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Wartość</th>
               
            </thead>
            <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>{{expense.title}}</td>
                    <td>{{expense.type}}</td>
                    <td>{{expense.quantity}} zł</td> 
                    <td><i class="fa-solid fa-xmark" style="color: red;"></i></td>
                    <td><a href="/exp/{{loop.index}}"><i class="fa-solid fa-pen-to-square" style="color: green;"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="exp-add">
            <h2>Dodaj nowy wydatek</h2>
            <form action="/" method="post" class="formu">
                {{form_exp.hidden_tag()}}
                <table class="add-table">
                {% for field in form_exp if field.widget.input_type != 'hidden' %}
                    <tr>
                        <th>{{field.label}}{% if field.flags.required %}*{% endif %}</th>
                        <td>{{field}}</td>
                    </tr>
                {% endfor %}
                </table>
                <input type="submit" value="Dodaj Wydatek" name="exp_btn" class="btn">
            </form>
        </div>
    </div>
    <div class="container-inc">
        <h1>Przychody</h1>
        <table class="table">
            <thead>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Wartość</th>
            </thead>
            {% for i in income %}
                <tr>
                    <td>{{i.title}}</td>
                    <td>{{i.type}}</td>
                    <td>{{i.quantity}} zł</td>
                    <td><i class="fa-solid fa-xmark" style="color: red;"></i></td>
                    <td><i class="fa-solid fa-pen-to-square" style="color: green;"></i></td>
                </tr>
            {% endfor %}
        </table>
        <div class="inc-add">
            <h2>Dodaj nowy przychód</h2>
            <form action="/" method="post" class="formu">
                {{form_inc.hidden_tag()}}
                <table class="add-table">
                {% for field in form_inc if field.widget.input_type != 'hidden' %}
                    <tr>
                        <th>{{field.label}}{% if field.flags.required %}*{% endif %}</th>
                        <td>{{field}}</td>
                    </tr>
                {% endfor %}
                </table>
                <input type="submit" value="Dodaj Przychody" name="inc_btn" class="btn">
            </form>
        </div>
    </div>
</body>
</html>